!!!
%html{:lang => "en"}
  %head
    %title Hungarian
    = stylesheet_link_tag "bootstrap",media: "all", "data-turbolinks-track" => true,cache: true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "style",media: "all", "data-turbolinks-track" => true,cache: true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.header
      .icon Hungarian
      .right.menu
        %ul
          %li
            =link_to "Home", root_path
          %li 
            =link_to "Need help?", about_path
    .wrapper
      = yield
    .clear_both
    %footer.footer
      Powered by 99tests